<body style="background-color:#212121;"></body>
<body>
<h1 style="color:white;">🐳 ADplace</h1>
<p style="color:white;">If u mind to place your ad here DM me</p>
<p style="color:white;">discord ['%'#5584] or email [remusmaluss@gmail.com]</p>
<p style="color:white;">Also if u want to support faucet/server </p>
<p style="color:white;">XMR: 42Q6S9RUxHy7NyfQB6uwmwbXK1Yvd3FzFCGz57a8Mh6J3xtLQNPvhPoKdVnKss8e61aj82Xy8Bejr9bb8iUHGiKh7hbJW4n</p>
<p style="color:white;">DUCO: Faucet_Furimos69</p>
<p style="color:white;">You typed wrong le password f or u dont have funds on account</p>

<img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Ftheconversation.com%2Fthis-frogs-lungs-act-like-noise-cancelling-headphones-156436&psig=AOvVaw0gTZ0UvM-1aQDy4rZDk8E_&ust=1626447779859000&source=images&cd=vfe&ved=0CAoQjRxqFwoTCNix3vas5fECFQAAAAAdAAAAABAU">

</body>
