<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
            <h4>Duco cloud</h4>
            <small class="d-block mb-3 text-muted">&copy; 2021</small>
        </div>
        <div class="col-6 col-md">
            <h5>Quick links</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://codeberg.org/Furim/Furimo_Cloud" target="_blank">Codeberg repo</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://codeberg.org/Furim/Furimo_Cloud/issues" target="_blank">Report a bug</a></li>
                
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Community & Contact</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Discord</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Email</a></li>
            </ul>
        </div>
       
    </div>
</footer>