<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">

        <h3 class="display-6">DUCO CLOUD</h3>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="https://discord.gg/kvBkccy" target="_blank"><img src="https://camo.githubusercontent.com/02b665ff25ea57eb7f5e409389d860e3932744db02469d12f8d18a4aab585874/68747470733a2f2f696d672e736869656c64732e696f2f646973636f72642f3637373631353139313739333436373430322e7376673f636f6c6f723d353533396363266c6162656c3d446973636f7264266c6f676f3d446973636f7264267374796c653d666f722d7468652d6261646765" data-canonical-src="https://img.shields.io/discord/677615191793467402.svg?color=5539cc&amp;label=Discord&amp;logo=Discord&amp;style=for-the-badge" style="max-width:100%;"></a>
    </nav>
</div>